#cursor {
  border: 2px solid #000;
  opacity: 0.7;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 102;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@font-face {
  font-family: buro;
  font-style: normal;
  src: url("../fonts/HarmoniaSansProCyr-Regular.woff2");
}
@font-face {
  font-family: buro2;
  font-style: bold;
  src: url("../fonts/HarmoniaBureauSemiBold.woff2");
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: buro2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #232323;
}
main {
  width: 100%;
  transition: all 0.2s ease;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  min-width: 320px;
}
.page-block {
  width: 100%;
  transition: all 0.45s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  will-change: transform;
}
.page-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.logo {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  color: #242424;
  overflow: hidden;
  background: #fff;
  z-index: 100;
}
.logo .logo-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#canvas-basic {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.logo .logo-social {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 12px;
  letter-spacing: 0.05px;
  line-height: 1;
  text-transform: uppercase;
  z-index: 102;
}
.logo .logo-social .logo-social__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.logo .logo-social .logo-social__item {
  display: inline-block;
  margin-right: 20px;
}
.logo .logo-social .logo-social__link {
  display: block;
  color: inherit;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}
.logo .logo-social .logo-social__link::after {
  display: block;
  position: absolute;
  margin-top: -4px;
  top: 50%;
  right: -10px;
  height: 7px;
  border-right: 1px dotted #000;
  content: '';
}
.logo .logo-social .logo-social__link .hi-0 {
  position: absolute;
  top: -2px;
  left: 50%;
  color: rgba(255,255,255,0);
  transition: all 0.2s ease;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}
.logo .logo-social .logo-social__link:hover {
  color: rgba(0,0,0,0);
}
.logo .logo-social .logo-social__link:hover .hi-0 {
  color: #000;
}
.logo .logo-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  padding-left: 140px;
  padding-right: 40px;
}
.logo .logo-content .logo-content__title {
  max-width: 420px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-family: buro;
}
.logo .logo-content .logo-content__title .fa {
  font-size: 1.5rem;
}
.logo .logo-content .logo-content__title .fa-js-square {
  color: #f9d749;
}
.logo .logo-content .logo-content__title .fa-sass {
  color: #a8d0e6;
}
.logo .logo-content .logo-content__title .fa-vuejs {
  color: #42b983;
}
.logo .logo-content .logo-content__title span {
  position: relative;
}
.logo .logo-content .logo-content__title span::after {
  position: absolute;
  content: '';
  height: 30%;
  width: 100%;
  bottom: 7px;
  left: 0;
  background: #f9d749;
  z-index: -1;
}
.logo .logo-content .logo-content__link {
  color: #000;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}
.logo .logo-content .logo-content__link::after {
  position: absolute;
  content: '';
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  left: -10%;
  width: 120%;
  height: 20%;
  transition: all 0.3s ease-in-out;
  background: #a8d0e6;
  z-index: -1;
}
.logo .logo-content .logo-content__link:hover::after {
  height: 150%;
}
.works {
  z-index: 99;
  overflow: hidden;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.contact {
  background: #212121;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .b-link__big {
  font-size: 5rem;
  text-align: center;
}
.contact .b-link__big a {
  display: block;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  margin-bottom: 20px;
  transition: all 0.15s ease-in;
}
.contact .b-link__big a:hover {
  color: #f9d749;
}
.bg-text {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-size: 20vw;
  line-height: 0.8;
  --maskX: 20;
  --maskY: 1;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  z-index: -1;
  text-transform: uppercase;
  cursor: default;
  text-align: center;
}
.bg-text__orig {
  color: rgba(255,255,255,0.02);
}
.bg-text__copy {
  color: rgba(255,255,255,0.03);
  position: absolute;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-clip-path: polygon(0 0, calc(var(--maskX) * 1% + (var(--maskY) - 50) * 0.4%) 0, calc(var(--maskX) * 1% + (var(--maskY) - 50) * -0.4%) 100%, 0 100%);
          clip-path: polygon(0 0, calc(var(--maskX) * 1% + (var(--maskY) - 50) * 0.4%) 0, calc(var(--maskX) * 1% + (var(--maskY) - 50) * -0.4%) 100%, 0 100%);
}
.works-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider-inner {
  overflow: hidden;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider-inner .slider-container {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 0;
  width: 100%;
}
.slider-inner .slider-list {
  position: relative;
  width: 999em;
}
.slider-inner .slider-item {
  float: left;
  margin: 0 auto;
  width: 100vw;
  position: relative;
  text-align: center;
}
.slider-inner .slider-item img {
  width: 70%;
}
.slider-inner .slider-item .slider-item__content {
  background: #fff;
  max-width: 320px;
  height: 350px;
  position: absolute;
  right: 100px;
  top: 60px;
  padding: 20px;
  z-index: 1;
}
.slider-inner .slider-item .slider-item__bgc {
  background: #232323;
  max-width: 320px;
  width: 100%;
  height: 350px;
  position: absolute;
  right: 120px;
  top: 80px;
  z-index: 0;
  padding: 20px;
}
.slider-inner .slider-item .slider-item__title {
  font-size: 32px;
  font-family: buro;
  margin-bottom: 20px;
}
.slider-inner .slider-item .slider-link {
  color: #f9d749;
  border: 4px solid #f9d749;
  padding: 10px 20px;
  border-radius: 20px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-decoration: none;
  font-size: 15px;
  transition: all 0.15s ease;
}
.slider-inner .slider-item .slider-link:hover {
  background: #f9d749;
  color: #fff;
}
.slider-nav {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  height: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.slider-nav .slider-nav__link {
  float: left;
  position: relative;
  width: 40px;
  height: 18px;
  cursor: pointer;
  z-index: 2;
}
.slider-nav .slider-nav__link .block {
  display: block;
  position: absolute;
  bottom: 50%;
  left: 5px;
  width: 28px;
  height: 0;
  background: #f9d749;
  transition: all 0.2s ease;
}
.slider-nav .slider-nav__link::after,
.slider-nav .slider-nav__link::before {
  display: block;
  position: absolute;
  top: 5px;
  left: -1px;
  width: 1px;
  height: 8px;
  background: #f9d749;
  content: '';
}
.slider-nav .slider-nav__link::after {
  right: 0;
  left: auto;
}
.slider-nav .slider-nav__link.is-active .block,
.slider-nav .slider-nav__link:hover .block {
  bottom: 0;
  height: 18px;
}
.shape-overlays {
  width: 110vw;
  height: 110vh;
  pointer-events: none;
  position: absolute;
  top: -5vh;
  left: 0;
  z-index: -100;
  overflow: hidden;
}
.shape-overlays__path:first-of-type {
  fill: #fbd54a;
}
.shape-overlays__path:nth-of-type(2) {
  fill: #1d1d1f;
}
.shape-overlays__path:nth-of-type(3) {
  fill: #000;
}
